<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/homepage.css">
    <script src="/static/homepage.js"></script>
    <title>Blog HomePage</title>
</head>
<body>
    <div class="homepageheader">
        <header>My Blog Site</header>
    </div>
    <div class="navigation">
        <h3>HomePage</h3>
        <h3>Add New Blog</h3>
        <h3>My Account</h3>
        <h3>Sign Out</h3>
    </div>
</body>
</html>