<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <script src="/static/login.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="loginheader">
        <h1>Login to your Account</h1>
    </div>
    <div class="logindetails">
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username">
        <label for="Password">Password:</label>
        <input type="text" id="Password" name="Password">
    </div>
    <div class="login">
        <button> Login </button>
    </div>
    <div class="noAccountYet">
        <p>No Account Yet? Sign up <a id="signhere"> here </a></p>
    </div>
</body>
</html>