<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/signup.css">
    <script src="/static/signup.js"></script>
    <title>Signup</title>
</head>
<body>
    <div class="signupheader">
        <h1>Signup For An Account</h1>
    </div>
    <div class="signupdetails">
        <label for="First Name">First Name:</label>
        <input type="text" id="firstName" name="FirstName">
        <label for="Last Name">Last Name:</label>
        <input type="text" id="lastName" name="LastName">
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username">
        <label for="Password">Password:</label>
        <input type="text" id="Password" name="Password">
    </div>
    <div class="register">
        <button id="access"> Signup </button>
    </div>
</body>
</html>